function loadjQuery(callback){
    url = 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
    var script = document.createElement("script")
    script.type = "text/javascript";
    if (script.readyState){  //IE
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" ||
                    script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {  //Others
        script.onload = function(){
            callback();
        };
    }
    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
}
function loadDistsSelector<%=@random%>() {
  var cities_selector = '<%= @html_city[:name] %>';
  cities_selector = (cities_selector == '' ? '#city_id' : 'select[name="'+cities_selector+'"]');
  var dists_selector = '<%= @html_dist[:name] %>';
  dists_selector = (dists_selector == '' ? '#dist_id' : 'select[name="'+dists_selector+'"]');
  $(cities_selector).on('change', function() {
    $.get('http://<%=Setting.host%>/cities/'+$(this).val()+'/dists.json', null, function(dists) {
      var dists_select = $(dists_selector, $(cities_selector).parent());
      dists_select.html('<option>請選擇</option>');
      for(i in dists) {
        dists_select.append($(document.createElement('option')).val(dists[i].id).html(dists[i].name));
      }
    });
  });
}
document.write('<%= escape_javascript(render_select(@cities, @selected_city_id, @html_city)) %>');
document.write('<%= escape_javascript(render_select(@dists, @selected_dist_id, @html_dist)) %>');
if(typeof(jQuery) == 'undefined') {
  loadjQuery(function() {
    loadDistsSelector<%=@random%>();
  });
} else {
  loadDistsSelector<%=@random%>();
}
